.tracking-page{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
    overflow: auto;
}
.today-hustle-text{
     font-weight:600;
    font-size: 2.5rem;
    color: white;
}